# dependencies
/node_modules
/.pnpm
/mobile/node_modules

# next.js build output
/.next/
/out/

# production output
/build
/android/app/build
/android/build
/android/.gradle

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local environment variables
.env*.local

# vercel
.vercel
